.writeAComponentContainer{
    height:100vh;
    width: 100%;
}

.insertCode{
    padding-top: 4rem;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C);

}
.namelabel{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
}
.pricelabel{
    margin-top: 2%;
    // margin-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
}

.nameInput{
    align-items: center;
    // width: 10%;

    padding: 1%;
    border-radius: 10px;
}

.inputArea{
    height: 80%;
    width: 100%;
    background-color: white;
    
    
}

.priceInput{
    // align-items: center;
    width: 10%;
    // margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;
}

.buttonAndInput{
    flex: 1;
    height: fit-content;
}

.upload{
    display:flex;
    margin-left: 2.3%;
    padding-top: 10px;
    background-color: rgba(24, 155, 24, 0.936);
    padding: 1%;
    border-radius: 5px;
    color: white;
    transition: 0.2s;
    vertical-align: bottom;
    

    &:hover{
      background-color: green;
    }
}

.loader {
    margin-top: 0%;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 5px solid rgba(24, 155, 24, 0.936); /* Blue */
    // border-bottom: 7px solid rgba(24, 155, 24, 0.936); /* Blue */
    
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }