.writeAComponentContainer{
    height:100vh;
    width: 100%;
}

.insertCode{
    padding-top: 4rem;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
    background: #1D976C;
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C); 
    background: linear-gradient(to right, #93F9B9, #1D976C);

}

.pricelabel{
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: x-large;
    font-weight: bold;
}

.nameInput{
    align-items: center;
    // width: 10%;
    padding: 1%;
    border-radius: 10px;
}

.inputArea{
    height: 80%;
    width: 100%;
    background-color: white;
    
    
}

.priceInput{
    align-items: center;
    width: 10%;
    // margin-top: 2%;
    padding: 1%;
    border-radius: 10px;
}

.buttonAndInput{
    flex: 1;
}

.upload{
    margin-left: 2.3%;
    background-color: rgba(24, 155, 24, 0.936);
    padding: 1%;
    border-radius: 5px;
    color: white;
    transition: 0.2s;

    &:hover{
      background-color: green;
    }
}