
.leftcontainer{
    height:100%;
    background-color: #E4F5EB;
    width: 27%;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    
}
.compName{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center; 
}

.componentName{
    font-weight: bold;
}

.componentCard{
    background-color: white;
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 8%;
}

.componentCard:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
  }

.nameAndPrice{
    display: flex;
    justify-content: space-between;
}


.itemprice{
    margin-right: 20px
}
.complist{ 
    
    
    height:90%;
    overflow: scroll;
}

.complist::-webkit-scrollbar {
    display: none;
}
