
.leftcontainer{
    height:100%;
    background-color: #E4F5EB;
    width: 27%;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    
}
.compName{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 10%;
    text-align: center;
    
}


.complist{
    height:90%;
    overflow: scroll;
}

.complist::-webkit-scrollbar {
    display: none;
}
