
.leftcontainer{
    height:100%;
    background-color: aquamarine;
    width: 27%;
    padding: 20px;
    padding-left: auto;
    padding-right: auto;
    align-items: center;
    
}

.complist{
    height:90%;
    overflow: scroll;
}

.complist::-webkit-scrollbar {
    display: none;
}
