.rightcontainer {
    height: 100%;
    width: 100%;
    padding: 1%;

}

.previewName{
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center; 
}

.sitepreview {
    height: 75%;
    width: 80%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    align-items: center;
    padding: 2%;
}

.dragHere {
    margin-left: auto;
    margin-right: auto;
    opacity: 0.2;
    width: 100%;
    position: relative;
    height: 100%;
}

.publishBtn{
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: #73AD21;
    width: 200px;
    
    // margin: 10%;
    padding: 1%;
    font-size: larger;
    border-radius: 8px;
    color: white;
    text-align: center;
    
}

.dragimg {
    width: 20%;
    position: absolute;
    top: 50%;
    left: 40%;
    right: 40%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}