.designpage{
    height:100vh;
    width: 100vw;
    background-color: antiquewhite;
    // overflow: scroll;
    // position:absolute;
    position: relative;
} 

.publishBtn{
    position: absolute;
    bottom: 2rem;
    left: 55%;
    width: 200px;
    padding: 1%;
    font-size: larger;
    border-radius: 8px;
    color: white;
    text-align: center;
    background-color: rgba(24, 155, 24, 0.936);
    padding: 10px 17px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;

  &:hover{
    transform: scale(0.9);
    background-color: green;
  }
    
}

.maincontainer{
    display:flex;
    padding-top: 4rem;
    height:100%;
    
}

.designpage::-webkit-scrollbar {
    display: none;
}
