.designpage{
    height:100vh;
    width: 100vw;
    background-color: antiquewhite;
    // overflow: scroll;
    // position:absolute;
    position: relative;
} 

.publishBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #73AD21;
    width: 200px;
    padding: 1%;
    font-size: larger;
    border-radius: 8px;
    color: white;
    text-align: center;
    
}

.maincontainer{
    display:flex;
    padding-top: 4rem;
    height:100%;
    
}

.designpage::-webkit-scrollbar {
    display: none;
}
