.designpage{
    height:100vh;
    width: 100vw;
    background-color: beige;
    overflow: scroll;
    position:absolute;
    position: relative;
} 



.maincontainer{
    display:flex;
    padding-top: 4rem;
    height:100%;
    
}

.designpage::-webkit-scrollbar {
    display: none;
}
